/* Asegura que el contenido de body se pueda centrar */
.background-cover {
  background-image: url('../images/EMAD_INICIO.jpg'); /* Ajusta la ruta a la imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos personalizados para el crest */
.crest {
  width: 200px;
  height: 250px;
  background-image: url('../images/INICIO_whisper.jpg'); /* Ajusta la ruta según sea necesario */
  background-size: cover;
  background-position: center;
}

/* Centrado y estilizado de la navegación */
nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-style,
.input-style {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure padding does not affect overall width */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav ul li a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ccc;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.background-flag {
  /* Ajusta estas dimensiones al tamaño real de tu imagen */
  width: 960px; /* Ancho de la imagen */
  height: 540px; /* Alto de la imagen */
  background-image: url('../images/bandera.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  /* Estilos existentes */
  font-weight: bold; /* Hace el texto en negrita */
  font-size: 20px; /* Aumenta el tamaño del texto, ajusta según necesites */
  color: #000; /* Asegura que el texto sea de color oscuro, ajusta si es necesario */
  text-align: center; /* Centra el texto dentro del contenedor, si lo deseas */
}
