body, html {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.form-style {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.select-style,
.input-style {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Makes sure padding does not affect overall width */
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.transcription-box {
    margin-top: 20px;
    font-weight: bold;
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    min-height: 50px; /* Gives the box a minimum height */
}
.transcription-box2 {
    margin-top: 20px;
    background-color: #eee;
    color: blue;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    min-height: 50px; /* Gives the box a minimum height */
}
.loading {
    display: none;
    width: 50px;
    height: auto;
    margin: 10px auto;
}
.recording {
    display: none;
    width: 200px;
    height: auto;
    margin: 10px auto;
}
.translating {
    display: none;
    width: 100px;
    height: auto;
    margin: 10px auto;
}
.EMAD {
    width: 300px; /* o el tamaño que prefieras */
    height: auto; /* mantiene las proporciones de la imagen */
    display: block; /* Esto asegura que la imagen se trate como un bloque y pueda centrarse */
    margin: 30px auto; /* Esto centra la imagen horizontalmente y añade margen arriba y abajo */
}

/* Contenedor para la imagen EMAD */
.emad-container {
    text-align: center; /* Esto centra la imagen si display es inline o inline-block */
    margin-top: 20px; /* Espacio adicional arriba si es necesario */
    margin-bottom: 20px; /* Espacio adicional abajo si es necesario */
}
/* ... other styles ... */
